@font-face{
    src: url("../fonts/FiraSans-Bold.ttf");
    font-family: Fira_Bold;
}
@font-face{
    src: url("../fonts/FiraSans-Medium.ttf");
    font-family: Fira_medium;
}
@font-face{
    src: url("../fonts/FiraSans-Regular.ttf");
    font-family: regular;
}